#topimage{
  background: url('https://www.hawaiinational.bank/templates/rt_afterburner2/images/tophomepage.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 525px;
}
#menu1{

  background: transparent;
  box-shadow: none;
  border: none;
}


#icons{
  background: #6c0625;
  box-shadow: none;
  border: none;
  }

#menu2{
color: white;
background-color: transparent;
  font-family: HelvLight;
  font-size: 13px;
}
#search{
  background-color: #6c0625;
  color: #ef2663;
  height: 15px;
align-self: center;
  font-style: italic;
}
#menu3 {
  /*color: #ef2663;*/
  background-color: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.footer-background {
  background-color: #2C1D24;
  color: gray;
  padding-top: 10px;
  padding-bottom: 100px

}
#small{
  font-size: 9px;
}
